*{
    box-sizing: border-box;
}
body{

}
div.upperPart{
    background-image: url("/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
div.lowerPart{
    background-image:;
}