*{
    box-sizing: border-box;
}
nav{
    text-align: right;
    position: fixed;
    width: 100%;
}
button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
span {
    width: 100%;
    height: 4px;
    background-color: black;
    display: block;
    margin-bottom: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
button span:nth-child(2){
    left: -5px;
    position: relative;
    transition: left 0.3s ease-in-out;
}
button:hover span:nth-child(2){
    left: 0;
}
body{

}
div.upper-part{
    background-image: url("images/adam-miller-dBaz0xhCkPY-unsplash025.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
@media (min-width: 800px){
    div.upper-part{                            
        background-image: url("images/adam-miller-dBaz0xhCkPY-unsplash05.jpg");
    }
}
@media (min-width: 1000px){
     div.upper-part{
        background-image: url("images/adam-miller-dBaz0xhCkPY-unsplash.jpg");
     }
}
div.to-the-moon{
    border: 4px solid black;
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 50px;
    width: 160px;
    text-align: center;
    height: 180px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255, .5)
}
div.lower-part {
    background-image: url("images/raphael-nogueira-svbDI1Pq30s-unsplash025.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
@media (min-width: 800px) {
    div.lower-part {
        background-image: url("images/raphael-nogueira-svbDI1Pq30s-unsplash05.jpg");
    }
}

@media (min-width: 1000px) {
    div.low-part {
        background-image: url("images/raphael-nogueira-svbDI1Pq30s-unsplash.jpg"); /*denna bild kommer inte upp i inspektorn fast jag skrollar upp till bred skärm, bara de två mindre bilderna kommer upp som de ska.Varför syns inte den största bilden som är roterad?*/
    }
}
h1 {
 display: inline;
 text-transform: uppercase;
}
a {
    position: absolute;
    bottom: 10px;
    left:10px;
    color:black;
}